<div style="float: left;"><img src="http://project-management.com/wp-content/uploads/2012/04/paid.jpg" alt="Thanks" width="170" height="75"></div>
<h2>Thanks, you paid <strong>€42.50</strong>!</h2>
<%= link_to 'Back', new_charge_path %>
